body { color: #000; }

.show-menu { color: #ffff30; background: #009070; }
nav input[type=checkbox] { color: #FFFF30; }
.helpmenu { background-color: #ff4e4e; }
nav ul { background: #009070; }

@media screen and (min-device-width: 680px) {
	ul.menu { border-bottom-color: black; }
	ul.menu > li { border-right-color: #ccc; }
	li.home { background-color: #00C0A0; }	
	nav ul a, nav ul a:visited { color: #FFFF30; }
	nav ul a:hover, nav ul a:active { background-color: #00C0A0; color: #FFFF30; }
	nav ul a.ignore:hover, nav ul a.ignore:active { background-color: inherit; }
	ul.submenu { border-bottom-color: black; background-color: #808080;	}
	ul.submenu > hr { border-color: black; }
	.submenu a:hover, .submenu a:active { background-color: #aaa; }
	li.break { border-top-color: black; }
	.helpmenu a,.helpmenu a:visited { color: #101010; }
	.helpmenu a:hover { color: #fff; background-color: #C00000; }
}

@media screen and (max-width: 680px) {
	.mobile-menu a, .mobile-menu a:visited, .mobile-menu a:hover { color: #fff; }
	.helpmenu a, .helpmenu a:visited, .helpmenu a:hover { color: #fff; }
	/* jade color - background: #00A86B; */
	ul.mobile-menu { background: #00c0a0; }
	ul.mobile-menu li { border-top-color: white; }
}

.showEdit { background-color: #F5F5F5; border: 3px ridge #505050; }
.user { background-color: #FFFACD; border: 1px solid black; } 
.role { background-color: #E0FFFF; border: 1px solid gray; }
.messages { background-color: #DDDDDD; border: 2px solid black; }
.error { background-color: #FEDDDD; border: 2px solid red; }
.collapseSection { border-top: 1px solid gray; border-bottom: 1px solid gray; background-color: #FFFCE6; }
.selectSection { border-top: 1px solid gray; border-bottom: 1px solid gray; background-color: #FFF9CD; }
.sideModule { border: 1px solid #999; background-color: #ccc; }
.pageModule { border: 4px groove gray; }
.searchNav  { background-color: #FFFCE6; border: 1px solid black; }

.sideModule a { color: #ffff00; }
.sideModule a:visited { color: #FFFF30; }
.sideModule a:hover { background-color: #FFFF30; color: #9F9F9F; }
.calendar { background-color: #fcf7e2; }

.livesearch { background-color: #FFFFFF; }
.livesearch a, .livesearch a:hover { color: #202020; }

p.moduleTitle a { color: black; }
p.moduleTitle a:hover { color: black; background-color: #9F9F9F;}
p.moduleTitle a:visited { color: black; }

table.plate td, table.box td { border: 2px solid #888; }
table.balanceSheet td, table.spreadsheet td { border-bottom: 1px solid #888; }
table.upload > tbody > tr > td, table.upload > tbody > tr > th { border: 1px solid #999; }
table.uploadForm > tbody > tr > td { border-bottom: 2px solid #bbb;}
table.uploadForm { border-top: 2px solid #bbb; }
table.uploadForm > tbody > tr > td:first-child { border-right: 1px solid #ddd; }
tr.listing td { border: 1px solid black; background-color: white; }
tr.header { border-bottom: 2px solid #808080 }
tr.banded:nth-child(odd) { background-color: #c0ffdd;}
tr.banded:nth-child(even) { background-color: #ffffff;}

tr.warn:nth-child(even) { background-color: #FFEE70;}
tr.warn:nth-child(odd) { background-color: #FFEEC0;}
tr.danger:nth-child(even), tr.active:nth-child(even)  { background-color: #FF7070;}
tr.danger:nth-child(odd), tr.active:nth-child(odd) { background-color: #FFC0C0;}

tr.dead:nth-child(even) { background-color: #F8F8F8;}
tr.dead:nth-child(odd) { background-color: #DDDDDD;}
tr.dead td { color: #707070; }

tr.subhead { background-color: #B0B0B0;}
tr.border { background-color: #808080 }
tr.updated { background-color: #FFFF90 }

th { color: #000; }
th.header { border-bottom: 2px solid #808080; }
th.footer { border-top: 2px solid #808080; }

table.month td { border: 0px solid white; }

td.week { border-right: 1px solid #808080; border-left: 1px solid #808080; }
td.day { background-color: #BBEEFF;}
td.today { background-color: #BBBBFF; }
td.selDay { background-color: #ffff80; border-color: #777 !important; }
td.updated { background-color: #FFFF90 }
td.section { border-bottom-color: #808080 }
td.smplate { background-color: #C0FFDD; }
td.dashboard { border-color: #808080; }
td.tabs { border-color: #323232; background-color: gray; } 
td.activetab { border-color: #323232; background-color: #00A000; } 
td.tabcontent { border-color: #323232; } 
td.subheader { border-bottom-color: #808080; background-color: #E8E8E8; }
tr.voided td, td.removed { color:#707070; }
tr.voided font.voidNote { color:#FF0000; }

.tabset { border-color: green;	background-color: #96C5AB; color:#FFFFFF; }

.tabset span { background-color: seaGreen;	border-color: green; }

.pemData { border-color: gray;	background-color: #ddd; }

.tabset a, .tabset a:visited { color:#E8E850; }
.tabset a:hover { color: #FFFF30; }

li.day { background-color: #000000; color: #FFFFFF }

a, a:visited { color: #009000; }
a:hover { color: #905000; }

a.closeBox, a.closeBox:visited { border-color: black;  background-color:red; }
a.chemspider, a.chemspider:visited, a.chemspider:hover { color: #3A66CF; }

a.twist, a.twist:hover { color: #000000; }

a.sort, a.sort:hover  { color: #000000; }
a.sort:hover { color: #202020; }

a.menu, a.menu:visited { color: #E8E850; }

a.table, a.table:visited { color:#805000; }
a.table:hover {	color: black; }

a.tab, a.tab:visited { color:#F0F0F0; }
a.tab:hover { color:#FFFFF0; }

a.submenu { color:#E8E850; }

a.submenu:hover { color:#727272; }

#sideNav { background-color: #A9F8F3; border-color: black; }

@media only screen and (min-device-width: 720px) {
	#loginBoxForm { background-color: white; border-color: black; }
	#loginCover { background-color: #333333;	}
}

#sideNav a { color: #000; }

#sideNav a:hover { color: #666; }

#warningPanel { background-color: #fdd; border-color: #f00; }
.progress { border-color: #101010; }

#progressBar { background: #FFCC00; }

#spinner div { background: seaGreen; }
