@CHARSET "UTF-8";

@import url("menu.css");
@import url("mobile.css");
@import url("colors.css");

body {
	font-weight: normal; font-size: 11pt; 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Verdana, Arial, "Lucida Grande", sans-serif;
	margin: 0px;
}

h1 { text-align: center; }

.content { /* position: absolute; */
	margin-left: 50px; margin-right: 50px; margin-bottom: 50px; }
.hideSection { display: none; }
.unloaded { display: none; }
.showSection { display: block; margin-bottom: 10px; }
.showEdit { display: block; background-color: #F5F5F5; border: 3px ridge #505050; padding: 5px; margin-bottom: 10px; width: 80%; margin-left: auto; margin-right:auto;}
.user { display: block; background-color: #FFFACD; 
	border: 1px solid black; width: 80%; margin-left:10%; 
	margin-bottom: 10px; } 
.role { display: block; background-color: #E0FFFF; 
	border: 1px solid gray; width: 85%; margin-left: 10%; margin-bottom: 10px }
.messages { display:block; background-color: #DDDDDD; width: 80%; 
	border: 2px solid black; margin-left: 10%; margin-bottom: 10px; margin-top: 10px; padding-left: 10px; }
.error { display:block; background-color: #FEDDDD; width: 80%; 
	border: 2px solid red; margin-left: 10%; margin-bottom: 10px; margin-top: 10px; padding-left: 10px; }
.main { display: block; width: 90%; margin-left: 5%; margin-bottom: 10px; }
.collapseSection { clear: both; display: block; width: 90%; margin-left: 5%; 
	border-top: 1px solid gray; border-bottom: 1px solid gray; margin-bottom: 10px;  
	background-color: #FFFCE6; }
.selectSection { clear: both; display: block; width: 90%; margin-left: 5%; 
	border-top: 1px solid gray; border-bottom: 1px solid gray; margin-bottom: 10px;  
	background-color: #FFF9CD; }
.sideModule { border: 1px solid #999; border-radius: 5px; display:block; width: 100%; background-color: #ccc; }
.pageModule { border: 4px groove gray; display:block; width: 350px; margin-left: auto; margin-right: auto; }
.searchNav  { display: block; background-color: #FFFCE6; border: 1px solid black;; padding: 5px; margin-bottom: 10px; width: 80%; margin-left: auto; margin-right:auto;}

.sideModule a { FONT-WEIGHT: bold; COLOR: #ffff00; }
.sideModule a:visited { FONT-WEIGHT: bold; COLOR: #FFFF30; }
.sideModule a:hover { FONT-WEIGHT: bold; BACKGROUND-COLOR: #FFFF30; color: #9F9F9F; text-decoration: none; }
.sideModule p { margin-left: 10px; }

.calendar { background-color: #fcf7e2; padding: 5px 10px; width: 250px; min-height: 175px; z-index:99; position:absolute; display:none; }

.livesearch { background-color: #FFFFFF; padding: 5px 10px; max-height: 200px; overflow:auto; position:absolute; z-index:99; display: none;}
.livesearch a { color: #202020; text-decoration: none; }
.livesearch a:hover { color: #202020; text-decoration: none; font-weight:bold; }

font.headline { font-weight: bold; font-size: 130%; }

p.moduleTitle { -moz-user-select: none; -khtml-user-select: none; 
	user-select: none; margin-left: 10px; }
p.moduleTitle a { font-size: 14pt; font-weight:bold; color: black; text-decoration: none; }
p.moduleTitle a:hover { font-size: 14pt; font-weight:bold; color: black; text-decoration: none; background-color: #9F9F9F;}
p.moduleTitle a:visited { font-size: 14pt; font-weight:bold; color: black; text-decoration: none; }
p.moduleText { margin-left: 10px; font-size: 12pt; }
p.moduleText a, p.moduleText a:hover, p.moduleText a:visited { font-size: 12pt; }

p.menu {
	FONT-SIZE: 16px; TEXT-ALIGN: center; FONT-WEIGHT: bold;
}

p.footer {
	FONT-SIZE: 16px; TEXT-ALIGN: center; FONT-WEIGHT: bold;
}

p.toggle {	margin-left: 7%; font-weight: bold; font-size:14px; }

table { border-collapse: collapse; }
table.species { border-collapse: collapse; margin-left:auto; margin-right:auto; }
table.list { border-collapse: collapse; margin-left:auto; margin-right:auto; }

table.plate { border-collapse: collapse; margin-left:auto; margin-right:auto; }
table.plate tr td { border: 2px solid #808080; }

table.box { margin-left:auto; margin-right:auto; }
table.box tr td { border: 2px solid #808080; padding: 15px; text-align:center; background-color: white; }


table.balanceSheet { border-collapse: collapse; margin-left:auto; margin-right:auto; }
table.balanceSheet td { border-bottom: 1px solid #808080; background-color: #FFFFFF; }

table.spreadsheet { border-collapse: collapse; margin-left:auto; margin-right:auto; }
table.spreadsheet tr td { border: 1px solid #808080; }
table.spreadsheet td.rowselect { border: none; }
table.dashboard { border-collapse: collapse; margin-left:auto; margin-right:auto; }

col.datashort { width: 25%; }
col.datalong { width: 50%; }

table.upload > tbody > tr > td, table.upload > tbody > tr > th { border: 1px solid #999; padding-left: 10px; padding-right: 10px; }
table.uploadForm > tbody > tr > td { border-bottom: 2px solid #bbb;}
table.uploadForm { margin-left: auto; margin-right: auto; border-top: 2px solid #bbb; }
table.uploadForm > tbody > tr > td:first-child {  border-right: 1px solid #ddd; font-weight: bold;}

table.files { border: 0px; width:100%; border-collapse: collapse; margin-left:auto; margin-right:auto; }
tr.listing td { border: 1px solid black; background-color: white; }

caption.month { font-size: 24px }

tr.header { border-bottom: 2px solid #808080 }
tr.banded:nth-child(odd) { background-color: #c0ffdd;}
tr.banded:nth-child(even) { background-color: #ffffff;}

/*
.collapseSection tr:nth-child(odd) { background-color: #FFFEFA; }
.collapseSection tr:nth-child(even) { background-color: #c0ffdd;}
*/

tr.even { BACKGROUND-COLOR: #C0FFDD;}
.collapseSection tr.odd { background-color: #FFFEFA; }
tr.odd { background-color: #FFFFFF; }
tr.dead { BACKGROUND-COLOR: #909090;}

tr.warn:nth-child(even) { BACKGROUND-COLOR: #FFEE70;}
tr.warn:nth-child(odd) { BACKGROUND-COLOR: #FFEEC0;}
tr.danger:nth-child(even) { BACKGROUND-COLOR: #FF7070;}
tr.danger:nth-child(odd) { BACKGROUND-COLOR: #FFC0C0;}

tr.dead:nth-child(even) { BACKGROUND-COLOR: #F8F8F8;}
tr.dead:nth-child(odd) { BACKGROUND-COLOR: #DDDDDD;}
tr.dead td { color: #707070; }

tr.active:nth-child(even) { BACKGROUND-COLOR: #FF7070; }
tr.active:nth-child(odd) { BACKGROUND-COLOR: #FFC0C0; }

tr.warneven { BACKGROUND-COLOR: #FFEE70;}
tr.warnodd { BACKGROUND-COLOR: #FFEEC0;}

tr.dangereven { BACKGROUND-COLOR: #FF7070;}
tr.dangerodd { BACKGROUND-COLOR: #FFC0C0;}

tr.active_even { BACKGROUND-COLOR: #FF7070; }
tr.active_odd { BACKGROUND-COLOR: #FFC0C0; }

tr.subhead { TEXT-ALIGN: center; BACKGROUND-COLOR: #B0B0B0;}
tr.border { BACKGROUND-COLOR: #808080 }
/* tr.active { border: 2px solid #50FF50} */
tr.updated { BACKGROUND-COLOR: #FFFF90 }


th { FONT-WEIGHT: bold; font-style: oblique; font-size: 12px; 
	COLOR: #000000; }
th.header { border-bottom: 2px solid #808080; }
th.footer { border-top: 2px solid #808080; }

table.month tr td { border: 0px solid white; }

td { FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; 
	padding: 4px; }
td.week { border-right: 1px solid #808080; border-left: 1px solid #808080; }
td.day { BACKGROUND-COLOR: #BBEEFF;}
td.today { background-color: #BBBBFF; }
td.selDay { background-color: #ffff80; font-weight: bold; border: 1px solid #777 !important; }
td.selDay a { font-weight: bold; }
td.updated { BACKGROUND-COLOR: #FFFF90 }
td.section { border-bottom: 2px solid #808080 }
td.smplate { border: 0px; background-color: #C0FFDD; }
td.dashboard { vertical-align: top; border: 2px solid #808080; height: 1px; }
td.tabs { border: 1.5px solid #323232; background-color: gray; } 
td.activetab { border-top: 1.5px solid #323232; border-right: 1.5px solid #323232; border-left: 1.5px solid #323232; background-color: #00A000; } 
td.tabcontent { border: 1.5px solid #323232; } 
td.subheader { border-bottom: 1px solid #808080; background-color: #E8E8E8; }
td.removed { color:#707070; text-decoration: line-through; }
tr.voided td { color:#707070; }
tr.voided font.voidNote { color:#FF0000; font-weight:bold;}

input.dateField {
	background-image: url('images/calendar.png');
	background-repeat:no-repeat;
	background-position: right 2px center;
	height: 23px;
	border: solid 1px #aaa;
	padding-left: 2px;
	padding-right: 25px;
}

.tabset { position: relative; padding-left: 10px;
	padding-top: 7px; 
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 25px; width: 96%; 
	border: 2px solid green;
	background-color: #96C5AB;
	font-size: 12pt; font-weight: bold; COLOR:#FFFFFF;
}

.tabset span {
	height: 100%;
	padding-left: 10px; padding-right: 10px;
	padding-top: 2px; 
	margin-top: 2px;
	margin-bottom: 0px;
	padding-bottom: 2px;
	background-color: seaGreen;
	border: 2px outset green; 
}

span.selectedTab {
	border: 2px inset green;
}

.tabset { 
	border-left: 1px solid green;
}

.pemData {
	display: inline-block;
	border: 1px solid gray;
	padding: 2pt;
	padding-left: 5pt;
	padding-right: 5pt;
	background-color: #DDDDDD;
	margin: 0 auto;
	text-align: left; 
}

.tabset a, .tabset a:visited { FONT-SIZE: 12pt; FONT-WEIGHT: bold; COLOR:#E8E850; }
.tabset a:hover { FONT-SIZE: 12pt; FONT-WEIGHT: bold; COLOR: #FFFF30; text-decoration: none;  }

ul.intable { margin-left: 2px; padding: 0; margin-top: 0; margin-bottom: 1px  }
ul.blank { list-style-type: none }

/* ul.topmenu { position: fixed; margin-left: 0px; padding-left: 0px; top: 0px; }
ul.topmenu li { list-style-type: none; position: relative; 
	margin: 0px; min-width: 100px; padding-left: 7px;
	padding-top: 5px; height: 25px;
	background-image: url("images/cyan-menu.png");
	border: 1.5px solid #323232; background-color:#59B27F; 
	FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR:#E8E850 }
ul.topmenu li > ul { display: none; position: absolute; background: #006060; 
	min-width: 90px; margin-left: 5px; padding-left: 0px; margin-top: 5px;
	border-right: 1px solid #323232;
	border-left: 1px solid #323232;
	border-bottom: 1px solid #323232; }
ul.topmenu li:hover { cursor: default; }
ul.topmenu li:hover > ul { display: block; }
ul.topmenu li:active { cursor: default; }
ul.topmenu li:active > ul { display: block; }
ul.topmenu li > ul li { list-style-type: none; position: relative; margin: 0px; width: 87px; height: 20px; border: 0; background-image: none;}
ul.topmenu li > ul li a:hover { background-color: #00CCCC; color: #202020; }
*/

li.day { list-style: none; BACKGROUND-COLOR: #000000; COLOR: #FFFFFF }
li.event { list-style: disc; margin-left: 20px; padding-left: 0 }

a { color: #009000; text-decoration: none }

a.closeBox, a.closeBox:visited {
	border: 1px solid black;  background-color:red;  padding-left:1px; padding-right:1px;
}

a.chemspider, a.chemspider:visited {	COLOR: #3A66CF; }

a.chemspider:hover { COLOR: #3A66CF; }

a.twist, a.twist:hover { color: #000000; font-weight: bold; font-size:16px; TEXT-DECORATION: none; 
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
a.divTitle, a.divTitle:hover { font-weight: bold; font-size: 14px; TEXT-DECORATION: none; 
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;}
	
a.divSubtitle, a.divSubtitle:hover { font-size: 14px; text-decoration: none; 
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

a.sort  { font-weight: bold; color: #000000; }
a.sort:hover { font-weight: bold; color: #202020; text-decoration:underline; }

a:hover {
	COLOR: #905000; TEXT-DECORATION: underline;
}
a:visited {
	FONT-WEIGHT: normal; COLOR: #009000; TEXT-DECORATION: none
}

a.menu {
	FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR: #E8E850;
}

a.menu:hover {
	cursor: default;
}

a.table {
	FONT-WEIGHT: bold; COLOR:#805000;
}

a.table:hover {
	COLOR: black; cursor: default; TEXT-DECORATION: underline;
}

a.tab {
	FONT-SIZE: 12px; COLOR:#F0F0F0;
}

a.tab:hover {
	COLOR:#FFFFF0; cursor: default; FONT-WEIGHT: normal; TEXT-DECORATION: none;
}

a.submenu {
	FONT-SIZE: 12px; COLOR:#E8E850;
}

a.submenu:hover {
	COLOR:#727272; cursor: default; FONT-WEIGHT: normal; TEXT-DECORATION:none;
}

a.footer {
	FONT-SIZE: 16px; FONT-WEIGHT: bold;
}

#sideNav {
	height: 100%;
	width: 225px;
	font-size: 135%;
	background-color: #A9F8F3;
	border: 1px solid black;
	position: absolute;
	left: 0;
	top: 0;
	
	/*
	margin-left: 5%;
	padding-left: 10px;
	padding-top: 50px;
	min-height: 70%;
	width: 225px;
	float: left;
	font-size: 135%;
	background-color: #A9F8F3;
	border: 1px solid black;
	*/
}

@media only screen and (min-width: 720px) {
	.left70 {
		width: 67%;
		float: left;
		display: inline;
		margin-bottom: 0;
	}
	.right30 {
		width: 27%;
		float: right;
		display: inline;
		margin-bottom: 0;
	}
	.left25 {
		width: 25%;
		float: left;
		display: inline;
		margin-bottom: 0;
	}
	.right75 {
		width: 73%;
		float: right;
		display: inline;
		margin-bottom: 0;
	}
	.mobile {
		display:none;
	}
	
	#loginBox {
		display: block;
		position: fixed;
		z-index: 999;
		width: 100%;
		height: 200px;
		top: 100px;
	}

	#loginBoxForm {
		display: block;
		position: relative;
		width: 350px;
		height: 200px;
		background-color: white;
		padding: 10px;
		border: 2px solid black;
		opacity: 1.0;
		margin: auto;
	}

	#loginCover {
		width: 100%;
		background-color: #333333;
		position: absolute;
		left: 0px;
		top: 0px;
		visibility: hidden;
		opacity: 0.75;
		z-index: 998;
		height: 100%;
	}

	label {
		display:inline-block;
		margin-bottom: 10px;
		width: 125px;
		vertical-align:top;
		margin-bottom: 20px;
	}
}




#sideNav ol li {
	padding-bottom: 25px;
}

#sideNav a {
	color: #000000;
	text-decoration: none;
}

#sideNav a:hover {
	color: #666667;
	text-decoration: underline;
}

p.mainContent {
	margin-left: 240px;
	margin-right: 15px;
}

#mainPanel ul {
	margin-left: 260px;
}

#mainPanel {
	position: absolute;
	left: 225px;
	top: 0;
	height: 100%;
	width: auto;
	right: 0;
	padding-left: 20px;
	
	
	/*
	margin-left: 10%;
	padding-top: 50px;
	min-height: 90%;
	*/
}

#setupPanel {
	height: 90%;
	width: 85%;
	position: relative;
	left: 7.5%;
	top: 5%; 
	bottom: 10%;
/* 	padding-left: 10px;
	padding-top: 50px;  */
}


#warningPanel {
	margin-left: 20%;
	margin-right: 5%;
	padding-top: 10px;
	background-color: #FFDDDD;
	border: 1px solid #FF0000;
	font-size: 125%;	
	padding-left: 30px;
}

/* position the bars and balls correctly (rotate them and translate them outward)*/
.bar1 {
  -moz-transform:rotate(0deg) translate(0, -40px);
  -webkit-transform:rotate(0deg) translate(0, -40px);opacity:0.12;
}
.bar2 {
  -moz-transform:rotate(45deg) translate(0, -40px);
  -webkit-transform:rotate(45deg) translate(0, -40px);opacity:0.25;
}
.bar3 {
  -moz-transform:rotate(90deg) translate(0, -40px);
  -webkit-transform:rotate(90deg) translate(0, -40px);opacity:0.37;
}
.bar4 {
  -moz-transform:rotate(135deg) translate(0, -40px);
  -webkit-transform:rotate(135deg) translate(0, -40px);opacity:0.50;
}
.bar5 {
  -moz-transform:rotate(180deg) translate(0, -40px);
  -webkit-transform:rotate(180deg) translate(0, -40px);opacity:0.62;
}
.bar6 {
  -moz-transform:rotate(225deg) translate(0, -40px);
  -webkit-transform:rotate(225deg) translate(0, -40px);opacity:0.75;
}
.bar7 {
  -moz-transform:rotate(270deg) translate(0, -40px);
  -webkit-transform:rotate(270deg) translate(0, -40px);opacity:0.87;
}
.bar8 {
  -moz-transform:rotate(315deg) translate(0, -40px);
  -webkit-transform:rotate(315deg) translate(0, -40px);opacity:1;
}

.progress {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow:black 0 0 4px;
  -webkit-box-shadow:black 0 0 4px;
  border: 2px solid #101010;
  position: relative;
  width:50px;
  height:20px;
  margin-left: auto;
  margin-right: auto;
}

#progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #FFCC00;
}

#progressText {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
}

/* set up the three ball spinners */
#spinner {
  position:relative;
  width:100px;
  height:100px;
  margin-left:auto; margin-right:auto;
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  -moz-transform:scale(0.5);
  -webkit-transform:scale(0.5);

  -webkit-animation-name: rotateThis;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}

#spinner div {
  width:20px;
  height:20px;
  background: seaGreen;
  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  position:absolute;
  left:40px;
  top:40px;
  -moz-box-shadow:black 0 0 4px;
  -webkit-box-shadow:black 0 0 4px;
}
