@media screen {
	.printheader { 
		display:none;
	}
}

nav {
	z-index: 100;
}

nav ul  {
	z-index: 100;
}

.show-menu {
	display: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
	display: none;
	font-size: 14pt;
	width: 100%;
}

.mobile-menu {
	display:none;
}

.tablet {
	display:none;	
}

nav input[type=checkbox] {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	display: none;
}

@media screen and (min-device-width: 1025px) {
	ul.menu {
		width:100%;
		margin-top: 0px;
		border-bottom: 2px solid black;
		padding: 0px;
	}
	
	ul.menu > li {
		border-right: 1px solid #ccc;
	}
	
	nav ul {
		padding: 0 20px;
		list-style: none;
		position: relative;
		display: inline-table;
	}
	
	nav ul:after {
		content: "";
		clear: both;
		display: block;
	}
	
	nav ul li {
		float: left;
	}
	
	nav ul a, nav ul a:visited {
		display: block;
		width: 130px;
		font-size: 14pt;
		font-weight: bold;
		text-align: center;
		padding: 4px;
		text-decoration: none;
	}
	
	nav ul a:hover, nav ul a:active {
		display: block;
		width: 130px;
		font-size: 14pt;
		font-weight: bold;
		text-align: center;
		padding: 4px;
		text-decoration: none;
	}
	
	nav ul ul {
		display: none;
		padding: 0;
		position: absolute;
		top: 100%;
	}
	
	ul.submenu {
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
	
	ul.submenu a, ul.submenu a:active, ul.submenu a:hover, ul.submenu a:visited {
		text-align: left;
		width: auto;
		min-width: 125px;
		padding: 5px;
		font-size: 12pt;
		font-weight: normal;
	}
	ul.submenu > hr { border-style: solid; border-color: black; }
	li.break { border-top: 1px solid black; }
	nav ul ul li { float: none; position: relative; }
	nav ul li:hover > ul { display: block; }
	nav a:hover { cursor: pointer; }
}

@media screen and (max-device-width: 680px) {	
	nav input[type=checkbox]:checked ~ #mobile-menu {
		display: block;
	}
	
	.show-menu { display: block; }	
	.menu { display: none; }
	.mobile-menu a, .mobile-menu a:visited { font-size: 14pt; }
	.mobile-menu a:hover { font-size: 14pt; text-decoration: none; }
	.helpmenu a,.helpmenu a:visited { font-size: 14pt; }
	.helpmenu a:hover { font-size: 14pt; text-decoration: none; }
	.submenu { display: none; }
	.menu:hover { cursor: pointer; }
	.helpmenu:hover { cursor: pointer; }
	ul.mobile-menu {
		position: static;
		display: none; 
		margin: 0px;
		padding: 0;
		list-style: none;
	}
	/*Create vertical spacing*/
	ul.mobile-menu li {
		margin-bottom: 1px;
		border-top: 1px solid white;
		text-align: center;
		padding: 10px 0;
	}
	/*Make all menu links full width*/
	ul.mobile-menu li, ul.mobile-menu li a { width: 100%; }	
}

@media screen and (min-device-width: 681px) and (max-device-width: 1024px) {	
	nav {
		z-index: 500;
	}
	
	ul.menu {
		width:250px;
		margin-top: 0px;
		padding: 0px;
		display: none;
	}

	ul.menu > li {
		margin-bottom: 1px;
		border-top: 1px solid white;
		padding-top: 5px;
	}
	
	nav input[type=checkbox]:checked ~ ul.menu {
		display: block;
	}

	nav input[type=checkbox]:checked + label.showmenu {
		width:225px;
		border-bottom: 0px;
		display: block; 
		font-size:16pt; 
		font-weight: bold; 
	}
	
	nav ul.menu {
		padding: 0px;
		list-style: none;
		position: fixed;
	}
	
	ul.menu ul { display: none; }
	
	ul.menu > li > a {
		padding-left: 10px;
		padding-bottom: 5px;
	}
	
	.show-menu { 
		background-color: white;
		font-size:16pt; 
		font-weight: bold;
		display:block;
		text-align:left;
		padding: 10px;
		padding-left: 15px;
		
	}	
	
	.notablet { display: none; }
	
	nav ul li:hover > ul { display: block; }
	
	ul.submenu {
		position: relative;
		margin:0px;
		margin-top: 5px;
	}
	
	ul.submenu a, ul.submenu a:active, ul.submenu a:hover, ul.submenu a:visited {
		text-align: left;
		width: auto;
		min-width: 125px;
		padding: 5px;
		font-size: 12pt;
		font-weight: normal;
	}
	ul.submenu > hr { border-style: solid; border-color: black; }
	li.break { border-top: 1px solid black; }
	
}

@media print {
	.printheader { display: block; }
	nav { display: none; }
	
}





