@media only screen and (max-width: 680px) {
	
	.left25 { width: 90%; display: block; margin-left: auto; margin-right: auto; }
	
	body {
		-webkit-text-size-adjust: 100%;
		font-size: 100%;
	}
	
	.desktop {
		display:none;
	}
	
	#loginBox {
		display: block;
		width: 90%;
		margin-left:auto; margin-right:auto;
	}
	
	#loginBox hr {
		display: none;
	}
	
	label {
		display:block;
	}
	
	label:after {
		content: " ";
	}
	
	#loginBoxForm {
		display: block;
		position: relative;
		width: 100%;
		padding: 10px;
		opacity: 1.0;
		margin: auto;
	}
	#loginCover {
		display: none;
		width: 100%;
		background-color: #333333;
		position: absolute;
		left: 0px;
		top: 0px;
		visibility: hidden;
		opacity: 0.75;
		height: 100%;
	}
	
	input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
		-webkit-appearance: none;
		-moz-appearance: none;
		display: block;
		margin: 0px;
		width: 90%;
		height: 25px;
		line-height: 35px;
		font-size: 17px;
		border: 1px solid #aaa;
		background: #eee;
	}
	
	textarea {
		height: 100px;
		font-size: 10px;
		display: block;
		margin: 0px;
		width: 100%;
		line-height: 40px;
		border: 1px solid #aaa;
		background: #eee;
	}
	
	button {
		-webkit-appearance: none;
		-moz-appearance: none;
		display: block;
		margin: 5px 5%;
		font-size: 1em;
		line-height: 2.5em;
		color: #333;
		font-weight: bold;
		height: 2.5em;
		width: 90%;
		background: #fdfdfd;
		background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd),
			color-stop(100%, #bebebe));
		background: -webkit-linear-gradient(top, #fdfdfd 0%, #bebebe 100%);
		background: -o-linear-gradient(top, #fdfdfd 0%, #bebebe 100%);
		background: -ms-linear-gradient(top, #fdfdfd 0%, #bebebe 100%);
		background: linear-gradient(to bottom, #fdfdfd 0%, #bebebe 100%);
		border: 1px solid #bbb;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
}