Body {
	BACKGROUND-COLOR: #ffffff;
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; 
	FONT-FAMILY: sans-serif
}

.BodySubHeader {
	FONT-SIZE: 19px; COLOR: #666666; FONT-FAMILY:  sans-serif
}
.Bodyred {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff0000; 
	FONT-FAMILY: sans-serif
}
.Bodybold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; 
	FONT-FAMILY: sans-serif
}
.rptHed {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; 
	FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #D9E8F4
}
.rptFld {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: sans-serif; 
	BACKGROUND-COLOR: #E8E8E8
}
.footnote {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; 
	FONT-FAMILY: sans-serif
}

.info {
	FONT-WEIGHT: bold; COLOR: #0000A0; TEXT-ALIGN: center;
}

P.menu {
	FONT-SIZE: 16px; TEXT-ALIGN: center; FONT-WEIGHT: bold;
}
P.footer {
	FONT-SIZE: 16px; TEXT-ALIGN: center; FONT-WEIGHT: bold;
}


table.species { border-collapse: collapse; }
table.list { border-collapse: collapse; }
table.plate { border-collapse: collapse; }
table.plate tr td { border: 2px solid #808080; }
table.dashboard { border-collapse: collapse;}
caption.month { font-size: 24px }

tr.header { border-bottom: 2px solid #808080 }
tr.even { BACKGROUND-COLOR: #DDDDDD;}
tr.odd { BACKGROUND-COLOR: #FFFFFF;}
tr.warneven { BACKGROUND-COLOR: #FFEE70;}
tr.dangereven { BACKGROUND-COLOR: #FF7070;}
tr.warnodd { BACKGROUND-COLOR: #FFEEC0;}
tr.dangerodd { BACKGROUND-COLOR: #FFC0C0;}
tr.subhead { TEXT-ALIGN: center; BACKGROUND-COLOR: #B0B0B0;}
tr.border { BACKGROUND-COLOR: #808080 }
tr.active { border: 2px solid #8A8A8A}

th { FONT-WEIGHT: bold; font-style: oblique; FONT-SIZE: 12px; 
	COLOR: #000000; FONT-FAMILY: sans-serif }
th.header { border-bottom: 2px solid #808080 }

td { FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; 
	FONT-FAMILY: sans-serif;  padding: 4px; }
td.week { border-right: 1px solid #808080; 
	border-left: 1px solid #808080 }
td.day { BACKGROUND-COLOR: #E3E3E3; }
td.today { BACKGROUND-COLOR: #F0F0F0; }
td.updated { BACKGROUND-COLOR: #DADADA }
td.section { border-bottom: 2px solid #808080 }
td.smplate { border: 0px; background-color: #DFDFDF; }
td.dashboard { vertical-align: top; border: 2px solid #808080; height: 1px; }
td.tabs { border: 1.5px solid #323232; background-color: gray; } 
td.activetab { border-top: 1.5px solid #323232; border-right: 1.5px solid #323232; border-left: 1.5px solid #323232; background-color: #353535; } 
td.tabcontent { border: 1.5px solid #323232; } 

ul.intable { margin-left: 1.5em; padding: 0; margin-top: 0;
	margin-bottom: .3em  }
ul.blank { list-style-type: none }

ul.topmenu { position: fixed; margin-left: 0px; padding-left: 0px; top: 5px}
ul.topmenu li { list-style-type: none; position: relative; margin: 0px; width: 100px; padding-left: 3px;
	border: 1.5px solid #323232; background-color:#838383; height: 20px;
	FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR:#F0F0F0}
ul.topmenu li > ul { display: none; position: absolute; background: #838383; width: 90px;
	margin-left: 5px; padding-left: 0px; 
	border-right: 1px solid #323232;
	border-left: 1px solid #323232;
	border-bottom: 1px solid #323232; }
ul.topmenu li:hover { cursor: default; }
ul.topmenu li:hover > ul { display: block; }
ul.topmenu li > ul li { list-style-type: none; position: relative; margin: 0px; width: 87px; border: 0}
ul.topmenu li > ul li a:hover { background-color: #BDBDBD; COLOR:#727272}

li.day { list-style: none; BACKGROUND-COLOR: #000000; COLOR: #FFFFFF }
li.event { list-style: disc; margin-left: 20px; padding-left: 0 }

A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #484848; 
	FONT-FAMILY: sans-serif; TEXT-DECORATION: none
}
A:hover {
	COLOR: #4B4B4B; TEXT-DECORATION: underline;
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #484848; TEXT-DECORATION: none
}

A.menu {
	FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR: #F0F0F0;
}

A.menu:hover {
	cursor: default;
}

A.tab {
	FONT-SIZE: 12px; COLOR:#F0F0F0;
}

A.tab:hover {
	COLOR:#FFFFF0; cursor: default; FONT-WEIGHT: normal; TEXT-DECORATION: none;
}

A.submenu {
	FONT-SIZE: 12px; COLOR:#F0F0F0;
}

A.submenu:hover {
	COLOR:#727272; cursor: default; FONT-WEIGHT: normal; TEXT-DECORATION:none;
}

A.footer {
	FONT-SIZE: 16px; FONT-WEIGHT: bold;
}
